body {
  font: 300 36px "Helvetica Neue";
  height: 640px;
  margin: 80px 160px 80px 160px;
  overflow: hidden;
  position: relative;
  width: 960px;
}

a:link, a:visited {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #666;
}

blockquote {
  margin: 0;
}

blockquote:before {
  content: "“";
  position: absolute;
  left: -.4em;
}

blockquote:after {
  content: "”";
  position: absolute;
}

body > ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
}

h1, h2, h3 {
  font-weight: inherit;
  margin: 0;
}

h2, h3 {
  text-align: right;
  font-size: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
}

h2 {
  font-size: 24px;
  position: absolute;
}

h3 {
  bottom: -20px;
  font-size: 18px;
}

.invert {
  background: #1f1f1f;
  color: #dcdccc;
}

.invert h2, .invert h3 {
  color: #7f9f7f;
}

.string, .regexp {
  color: #d14;
  /*color: #f39;*/
}

.built_in, .keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.literal, .number {
  color: #369;
}

.attribute, .class, .special {
  color: #1181B8;
}

body > svg {
  position: absolute;
  top: -80px;
  left: -160px;
}



.sticky{
  margin:0;
  padding:0;
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  /* background:#666; */
  color:#fff;
  float:right;
  font-size: 20px;
  opacity:0.8;
}
h2,p.sticky{
  font-size:100%;
  font-weight:normal;
}
ul.sticky,li{
  list-style:none;
}
ul.sticky{
  overflow:hidden;
}
ul.sticky li {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
}
ul.sticky li{
  margin:1em;
  float:left;
}
ul.sticky li {
  text-decoration:none;
  color:#000;
  background:#fbfbcf;
  display:block;
  height:10em;
  width:10em;
  padding:1em;

  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

  -webkit-transform:rotate(3deg);  
  -o-transform:rotate(3deg);  
  -moz-transform:rotate(3deg);  
}